
#infoProximPartit{
    display: block;
    color: #fff;
    font-family: sans-serif;
    font-size: 36px;
    text-align: center;
    background: #000;
	position: relative;
    top: 50px;
    z-index: 9;
}

#playertdGAEmcmjOwn{
	/*position: absolute !important;*/
	/*top: -50px;*/
}

#verPartido{
    padding: 6px 16px;
	border-radius: 5px;
	color: #FFF;
	background: #AD1F25 none repeat scroll 0% 0%;
	border: 1px solid #AD1F25;
	font-family: sans-serif;
	font-size: 16px;	
}
#cont_verPartido {
    width: 100%;
	margin-top: 50px;
}

#verPartido{
    padding: 7px;
    border-radius: 5px;
    color: #fff;
    background: #AD1F25;
    border: 1px solid #AD1F25;
	cursor:pointer;
	margin: 0px auto;
}
	
	
#cont_infoProximPartit{
	 background: #000000;
	 height: 100%;
}

@media only screen and (max-width: 1920px) {}
@media only screen and (max-width: 1366px) {}
@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1190px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 980px) {}
@media only screen and (max-width: 800px) {}
@media only screen and (max-width: 786px) {#infoProximPartit {
		font-size: 23px;
		top: 40px;
	}}
	
@media only screen and (max-width: 580px) {
	#infoProximPartit {
		font-size: 21px;
		top: 40px;
	}

	#cont_verPartido {
		margin-top: 30px;
	}
	
}
@media only screen and (max-width: 480px) {
	#infoProximPartit {
		font-size: 19px;
		top: 30px;
	}

	#cont_verPartido {
		margin-top: 20px;
	}
	
}
@media only screen and (max-width: 360px) {
	#infoProximPartit {
		font-size: 15px;
		top: 30px;
	}

	#cont_verPartido {
		margin-top: 15px;
	}
	
	#verPartido {
		font-size: 13px;
		padding: 5px;
	}
	
	
}
@media only screen and (max-width: 340px) {
	#infoProximPartit {
		font-size: 12px;
		top: 15px;
	}
	
	#verPartido {
		font-size: 13px;
		
	}
}