		#div_fb_comments{
			clear:both;
		}
		
		.fb-comments-container {
			overflow: hidden;
		}
			
		.fb-comments{
			overflow: hidden !important;
		}
		
		.fb-comments,fb-comments * {
			width: 100% !important;
			clear:both;
			z-index:0; 
		} 

		#overlay {	
			position: absolute;
			text-align: center;
			background-color: transparent; 
			z-index: 2147483647;
			width: 100%; 
			margin-top: 0px;
		}

		#cont_publi{ 
			width: 100%; 
			max-width: 728px; 
			min-width: 234px; 
			margin: 0 auto; 
			/*border: 1px solid;*/
		}			

		#a_publi{ width: 80%;}

		#img_publi{ width: 80%;	}		

		#playertdGAEmcmjOwn {	z-index: 1;	}
			
			#player_no{ 
				/* border: 1px solid;*/ 
				width: 100%;
				height: 100%;
				color: #FFFFFF;
				background-color: #000000;
			}
			
			#player_no p{ 
				font-size: 42px;
				font-family: sans-serif;
				margin: 0 auto;
				width: 80%;
				/* border: 1px solid !important;*/ 
				text-align: center;
				padding-top: 17%;
			}
			
			@media only screen and (max-width: 1920px) {#player_no p{ font-size: 42px;}}
			@media only screen and (max-width: 1366px) {}
			@media only screen and (max-width: 1280px) {}
			@media only screen and (max-width: 1190px) {#player_no p{ font-size: 35px;}}
			@media only screen and (max-width: 1024px) {}
			@media only screen and (max-width: 980px) {#player_no p{ font-size: 27px;}}
			@media only screen and (max-width: 800px) {}
			@media only screen and (max-width: 786px) {}
			@media only screen and (max-width: 580px) {#player_no p{ font-size: 20px;}}
			@media only screen and (max-width: 480px) {}
			@media only screen and (max-width: 360px) {#player_no p{ font-size: 15px;}}
			@media only screen and (max-width: 320px) {#player_no p{ font-size: 13px;}}