<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Información de la Retransmisión</h1>
        <button class="button button-clear button-primary" ng-click="broadcastModal.hide()">Cancelar</button>
    </ion-header-bar>
    <ion-content class="padding">
        <form name="broadcastForm" novalidate="" ng-submit="submitBroadcast(broadcastData)">
            <div class="list" ng-show="step == 1">
	            <label class="item item-input item-floating-label">
		            <span class="input-label">Título de la retransmisión</span>
		            <input type="text" placeholder="Título de la retransmisión" ng-model="broadcastData.title" ng-init="broadcastData.title = ''" autocorrect="off">
	            </label>
                <a class="button button-full button-positive" ng-click="nextStep()" ng-disabled="broadcastData.title == ''">Ir al paso 2</a>
            </div>
            <div class="list" ng-show="step == 2">
	            <label class="item item-input item-floating-label">
		            <span class="input-label">Equipo local</span>
		            <input type="text" placeholder="Equipo local" ng-model="broadcastData.localTeamName" ng-init="broadcastData.localTeamName = ''" id="boradcastModalInput2" autocorrect="off">
                    <small>Escribe primero las 3 letras identificativas del equipo seguido del nombre completo</small>
	            </label>
                <a class="button button-full button-positive" ng-click="nextStep()" ng-disabled="broadcastData.localTeamName == ''">Ir al paso 3</a>
            </div>
            <div class="list" ng-show="step == 3">
	            <label class="item item-input item-floating-label">
		            <span class="input-label">Equipo visitante</span>
		            <input type="text" placeholder="Equipo visitante" ng-model="broadcastData.visitorTeamName" ng-init="broadcastData.visitorTeamName = ''" id="boradcastModalInput3" autocorrect="off">
                    <small>Escribe primero las 3 letras identificativas del equipo seguido del nombre completo</small>
	            </label>
                <button class="button button-full button-positive" ng-disabled="broadcastData.visitorTeamName == ''">Comenzar retransmisión</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
