<ion-view title="Configuración">
    <div class="bar bar-header">
        <div class="h1 title">Configuración</div>
        <a href="#/main" class="button button-outline button-positive icon-left ion-videocamera"> Retransmisión</a>
    </div>
    <ion-side-menus>
        <!-- Left menu -->
        <ion-side-menu side="left" expose-aside-when="(min-width:0)">
            <ion-header-bar >

            </ion-header-bar>
            <ion-content>
                <div class="list">
                    <a class="item item-icon-left" href="#/config/patrocinadores" nav-transition="none">
                        <i class="icon ion-monitor"></i>
                        Publicidad
                    </a>
                    <!--<a class="item item-icon-left" href="#/config/settings" nav-transition="none">
                        <i class="icon ion-wrench"></i>
                        Ajustes
                        <span class="badge badge-assertive">0</span>
                    </a>-->

                </div>
            </ion-content>
        </ion-side-menu>

        <ion-side-menu-content>
            <ion-nav-bar type="bar-positive"></ion-nav-bar>

            <ion-nav-view name="content-view"></ion-nav-view>
        </ion-side-menu-content>
    </ion-side-menus>
</ion-view>
