<ion-view title="Login">
    <ion-content padding="true" class="has-header">
        <div class="center">
            <img src="img/logo.png">
        </div>
        <form class="login" novalidate="" ng-submit="login(login)" name="loginForm">
            <div class="spacer" style="width: 300px; height: 30px;"></div>
            <div class="list">
                <ion-md-input placeholder="Usuario" highlight-color="calm" type="text" ng-model="login.user" required autofocus autocapitalize="off" autocorrect="off"></ion-md-input>
                <ion-md-input placeholder="Contraseña" highlight-color="calm" type="password" ng-model="login.pass" required></ion-md-input>
            </div>
            <div class="spacer" style="width: 300px; height: 30px;"></div>
            <button class="button button-block button-positive" ng-disabled="loginForm.$invalid">Entrar</button>
        </form>
    </ion-content>
</ion-view>
