<ion-view title="Principal">
    <ion-content scroll="false">
        <div class="row">
            <div class="col col-75">
                <div class="row">
                    <div class="col text-center">
                        <img src="img/logo-small.png" style="max-height:50px; position: absolute;left:0;top:10px;" />
                        <button class="button button-outline button-positive button-small icon-left ion-videocamera" ng-click="startBroadcast()" ng-hide="broadcast.onAir()"> Comenzar Retransmisión</button>
                        <button class="ng-cloak ng-hide button button-outline button-small icon button-energized ion-stop" ng-click="endTimeBroadcast()" ng-show="broadcast.onAir() && !broadcast.isPaused()"> Terminar Periodo</button>
                        <button class="ng-cloak ng-hide button button-outline button-small icon button-energized ion-record" ng-click="startTimeBroadcast()" ng-show="broadcast.onAir() && broadcast.isPaused()"> Comenzar Periodo</button>
                    </div>
                    <div class="col ng-cloak ng-hide" ng-show="broadcast.onAir() && broadcast.isPaused()">
                        <button class="button button-outline button-small icon button-assertive ion-stop" ng-click="finishBroadcast()"> Terminar Retransmisión</button>
                    </div>
                    <div class="col right">
                        <a href="#/config/patrocinadores" class="button button-outline button-small icon button-dark ion-gear-a"> Publicidad</a>
                        <button ng-click="logout()" class="button button-outline button-small icon button-dark ion-power"> Desconectar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="video-container">
                            <iframe ng-src="{{ broadcast.getUrlLive() }}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ng-show="!showRetry"></iframe>
                            <div class="retry" ng-show="showRetry"><br><br><br><br><button class="button button-assertive icon ion-refresh button-large" ng-click="refreshVideo()"></button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col flex-column" style="border-left:1px solid gray;">

                <button class="ng-cloak ng-hide button button-outline button-positive icon-left ion-aperture" ng-show="broadcast.onAir()" ng-click="newMove()" ng-disabled="broadcast.isPaused()">
                    Añadir Jugada
                </button>

                <br>

                <ion-scroll class="list flex-full-height">
                    <ion-item class="item-thumbnail-right" ng-repeat="move in broadcast.getMovements()">
                        <img ng-src="{{ move.thumbnail }}">

                        <p>
                            <span ng-switch="move.kind ">
                                <span ng-switch-when="1"><img src="img/icon_goal.png"></span>
                                <span ng-switch-when="2"><img src="img/icon_yellow.png"></span>
                                <span ng-switch-when="3"><img src="img/icon_double_yellow.png"></span>
                                <span ng-switch-when="4"><img src="img/icon_red.png"></span>
                                <span ng-switch-when="5">Otras</span>
                            </span>
                            <br><small>{{ move.jugador }}</small>
                            <br><span ng-show="move.time != undefined">Minuto {{ move.time }}</span>
                        </p>
                        <small>
                            <ion-spinner ng-show="move.processing" icon="ripple"></ion-spinner>
                            <!--<a class="button button-block icon-left ion-play button-clear button-dark" ng-hide="move.processing" ng-click="playMove(move)"></a>-->
                        </small>
                    </ion-item>
                    <p class="center" ng-hide="broadcast.getMovements().length">No hay jugadas</p>
                </ion-scroll>
                <button class="ng-cloak ng-hide button button-block button-outline button-positive icon-left ion-play" ng-show="broadcast.onAir() && broadcast.isPaused() && !broadcast.isPlayingMoves()" ng-disabled="broadcast.getMovements().length == 0" ng-click="playMoves()">
                    Resumen Jugadas
                </button>
                <button class="ng-cloak ng-hide button button-block button-outline button-positive icon-left ion-stop" ng-show="broadcast.onAir() && broadcast.isPaused() && broadcast.isPlayingMoves()" ng-click="stopPlayingMoves()">
                    Detener Jugadas
                </button>

                <div class="scoreboard">
	                <h2 class="center">Marcador</h2>
                    <div class="col">
                        <div class="row center">
                            <div class="col">
                                <div class="row row-center picker">
                                    <div class="col">
                                        {{ broadcast.getLocalScore() }}
                                    </div>
                                    <div class="col">
                                        <span ng-show="broadcast.onAir()" class="ng-cloak ng-hide picker-buttons">
                                            <i class="button button-outline button-positive icon ion-chevron-up" ng-click="scoreUpLocal()"></i>
                                            <br>
                                            <i class="button button-outline button-positive icon ion-chevron-down" ng-click="scoreDownLocal()"></i>
                                        </span>
                                    </div>
                                </div>
                                {{ broadcast.getLocalTeam() }}
                            </div>
                            <div class="col">
                                <div class="row row-center picker">
                                    <div class="col">
                                        {{ broadcast.getVisitorScore() }}
                                    </div>
                                    <div class="col">
                                        <span ng-show="broadcast.onAir()" class="ng-cloak ng-hide picker-buttons">
                                            <i class="button button-outline button-positive icon ion-chevron-up" ng-click="scoreUpVisitor()"></i>
                                            <br>
                                            <i class="button button-outline button-positive icon ion-chevron-down" ng-click="scoreDownVisitor()"></i>
                                        </span>
                                    </div>
                                </div>
                                {{ broadcast.getVisitorTeam() }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
