<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Información de la Jugada</h1>
        <button class="button button-clear button-primary" ng-click="cancelMove(move)">Cancelar</button>
    </ion-header-bar>
    <ion-content class="padding">
        <form name="moveForm" novalidate="" ng-submit="submitMove(move)">
            <div class="list">
                <label class="item item-input" ng-class="{ 'has-error' : move.jugador.$invalid}">
                    <input ng-model="move.jugador" type="text" autocapitalize="on" placeholder="Nombre del jugador" autofocus autocorrect="off">
                </label>
                <label class="item item-input item-select" ng-class="{ 'has-error' : move.kind.$invalid}">
                    <span class="input-label">Jugada</span>
                    <select ng-model="move.kind" required>
                        <option value="1" selected>Gol</option>
                        <option value="2">Tarjeta Amarilla</option>
                        <option value="3">Doble Amarilla</option>
                        <option value="4">Tarjeta Roja</option>
                        <option value="5">Otras</option>
                    </select>
                </label>
                <button class="button button-full button-positive" ng-disabled="moveForm.$invalid">Guardar</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
