<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive">
		<h1 class="title">Elige el periodo</h1>
		<button class="button button-clear button-primary" ng-click="timeModal.hide()">Cancelar</button>
	</ion-header-bar>
	<ion-content class="padding">
		<form name="moveForm" novalidate="" ng-submit="startTimeBroadcast(time)">
			<div class="list">
				<div class="button-bar">
					<a class="button" ng-click="time.id = 1; time.name= 'primera parte'">Primera parte</a>
					<a class="button" ng-click="time.id = 2; time.name= 'segunda parte'">Segunda parte</a>
					<a class="button" ng-click="time.id = 3; time.name= 'tiempo extra'">Tiempo Extra</a>
					<a class="button" ng-click="time.id = 4; time.name= 'otros'">Otros</a>
				</div>
				<button class="button button-full button-positive" ng-disabled="time.id == undefined">Empezar {{ time.name}}</button>
			</div>
		</form>
	</ion-content>
</ion-modal-view>