	*{
		font-family: sans-serif;
	}
	
	body{
		/*background:#eee !important;  
		 color: #FFFFFF  !important; */
	}
	
	h1{
		font-family: sans-serif;
		color: rgb(136, 136, 136);
font-size: 20px;
	}
	
	.container {	
		padding-top: 20px;
	}

	.peque_txt{
		font-size: 11px;
	}
	
	#cont_bloquear_text,
	#cont_bloquear{
		/*
		width: 935px;		
		margin: 0 auto;
		*/
	}
		
	#cont_bloquear_pob{
		padding-top: 5px;
		
	}
	
	
	#cont_bloquear_pro{
		padding-top: 10px;
		clear: both;
	}
		
	#configDatos_text,
	#bloquear_text,
	#proximo_text{
		width:100%; 
		padding-top: 35px;
		color: #888;
	}
		
	.introTitulo{
		font-family: sans-serif;
		margin-bottom: 3px;
		font-weight: normal;
	}
		
	.introtxt{
		font-family: sans-serif;
		padding: 0px;
		margin: 0px;
		line-height: 21px;
		font-size: 14px;	
		color: #888;		
	}
	
	
	#bloquear_list_pob,
	#bloquear_list_pro,
	#bloquear_select_pro,
	#bloquear_select_pob{
		/* width: 400px;*/
		width: 37%;
		float:left;
	}
		
	#bloquear_flecha_pob,
	#bloquear_flecha_pro{
		/*width: 180px;*/
		width: 12%;
		float:left;
		padding-top: 60px;
	}
		
	#bloquear_flecha_pob img,
	#bloquear_flecha_pro img{
		width: 24px;
	}
		
	#bloquear_list_pob,
	#bloquear_list_pro {	}
	
	#bloquear_btn_pob,
	#bloquear_btn_pro {
		float: right;
		width: auto;		
	}
	
	#editPartido,
	#addPartido,	
	#btnEliminar_pob,
	#btnEliminar_pro{		
		/*background: #32b3c8;*/
		/*border: 1px solid #32b3c8;*/
		background: #AD1F25 none repeat scroll 0% 0%;
		border: 1px solid #AD1F25;
	
		color: #FFF;
		font-family: sans-serif;
		border-radius: 6px;	

		width: 100%;
		padding: 10px;		
	}
	
	.btnStream{
		padding: 5px 20px !important;
		margin-bottom: 5px;
		background: #CCC none repeat scroll 0% 0%;
		font-family: sans-serif;
		border-radius: 6px;
		border: 1px solid #aaa;	
	}

	
	#btnAnyadirPartido{
		width: 150px;
		float: right;
		padding-bottom: 40px;
	}	

	#tituloPartido,
	#equipo1,
	#equipo2	{
		width: 95%;
	}
		
	#mensajes_pob,
	#mensajes_pro,
	#mensajes{
		font-family: sans-serif;
		padding: 10px 0px;
		font-size: 14px;
		color: #fff;
		padding-left: 10px;
		margin-bottom: 10px;
	}
	
	#tituloPB_pob2,
	#tituloPB_pob,
	#tituloPB_pro{
		font-family: sans-serif;
		font-size: 14px;	
		border: 1px solid #E3E3E3;
		background-color:#e3e3e3;
		margin: 0px;
		padding: 10px;
		color: #555;
		text-align: left;
		font-weight: bolder;
	}
		
	table, tr, th{
		/*border: 1px solid #E3E3E3; */
		border: 1px solid #eee; 
		border-collapse: collapse;
	}
		
	#tabla_pro,
	#tabla_pob{
		width: 100%;
		/*border: 1px solid #E3E3E3;*/
		border: 1px solid #eee; 
	}
			
	#pblock_noHay_2{}
	#pblock_noHay{}
	
	#cargandoTabla_pob,
	#cargandoTabla_pro{
		background-color:#fff !important;
		border:1px solid #fff;
	}
		
	.pblock_tr {
		/*background-color: #E3E3E3;*/
		background-color: #eee;
		/*border: 1px solid #E3E3E3;*/
		border: 1px solid #eee;
	}
	.lbl_listaPartidos,	
	.pblock_txt{
		font-size: 14px;
		font-family: sans-serif;
		padding-left: 10px;
		/*color: #32b3c8;*/ /*Azul */
		color: #Ad1F25; /*Rojo */
		font-weight: normal;
	}
		
	.pblock_img{}
	.pblock_img_proximo{
		padding: 4px 6px;
	}
		
	.pblock_img img{
		float: right;
	}
		
	.pblock_no{
		padding: 10px !important;
		text-align: center;
	}
	
	#bloquear_footer{
		height: 25px;
		clear: both;
	}

			
/** proximo partido*/
#contenedor_1{
		width: 100%;
		margin-top: 40px;
		margin-bottom: 40px !important;
}

#con_equipos{
	width: 49%;
	float:left;
	font-family: sans-serif;
color: #777;
}

.form-group {
   /* margin-right: 40px  !important;*/
}
	
#fecha_equipos{
	width: 49%;
	float:left;
	font-family: sans-serif;
	color: #777;
	padding-bottom: 80px;
}

#lista_proximos_partidos{margin-top: 40px;}

.lbl_listaPartidos{
	/*border: 1px solid rgb(204, 204, 204);*/
	padding: 6px 20px;
	/*border-radius: 8px;*/
	width: 100%;
	
}

.delete_lbl{
 float:right;
}

.hr_clase{
	width: 100%;
clear: both;
border: 2px solid #ccc;
background: #ccc;
	
}

/******************* Cambios forzados *****************************************/
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #AD1F25 !important;
	
}
.nav-tabs > li.active > a{color: #AD1F25 !important;}
a{
	
	/*color: #AD1F25;*/
	color: #ccc;
}

@media only screen and (max-width: 1920px) {}
@media only screen and (max-width: 1366px) {}
@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1190px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 980px) {}
@media only screen and (max-width: 800px) {
	#bloquearPoblacion_flecha img {
		width: 20px;
	}
}
@media only screen and (max-width: 786px) {}
@media only screen and (max-width: 580px) {


	#bloquearPoblacion_flecha {
		display: none;
	}
	
	#bloquearPoblacion_list, #bloquearPoblacion_select {
		width: 100%;
	}

	#bloquearPoblacion_list {
		padding-top: 25px;
	}
	
	#bloquearPoblacion_btn {
		float: left;
		width: 100%;
		clear: both;
		padding-top: 25px;
	}
	
	.introtxt {
		text-align: justify;
		padding: 7px;
		line-height: 20px;
	}
}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 360px) {
	
}
@media only screen and (max-width: 320px) {}