	h1 {
		margin-top: 3em !important;
	}
	
		body {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
}

	html{
		font-size: 14px !important;
	}	
			
	.video-thumbnail{
		position: relative;
	}
	
	.video-thumbnail img:hover{
		opacity: 0.7;
	}
	
	.video-thumbnail i{
		position: absolute;
		top: 50%;
		left:0;
		width: 100%;
		color:white;
		font-size:40px;
		/*padding-top: 100px;*/
	}
		
	i.icon.play::before {
		content: "\f04b";
		/*  
		border: 1px solid #c8c1c1;
		padding: 10px 15px !important;
		background-color: #c8c1c1 !important;
		border-radius: 5px;
		opacity: 0.8 !important;
		*/
	}

	#paging{
		margin-top:20px;
	}
		
	#header {
		height:300px;
		position:relative;
		background-size:cover;
		background-repeat: no-repeat;
	}
	
	#header .logo{
		position:absolute;
		top:0;
		left:0;
	}

	#header .menu{
		position: absolute;
		bottom: 0;
		right: 0;
		height: 56px;
		display: inline;
	}

		


	#header .menu .buttons a {
		color:white;
	}

	#header .menu .buttons a.ui.button {
		background-color: transparent;
	}
		
	#header .menu .buttons a.ui.button:hover {
		background-color: #9b9b9b;
	}
	
	.ui.button.primary {
		background-color: black !important;
	}
	
	.ui.card{
		margin: 0 auto;
	}

	#paging{
		text-align: center;
	}
	
	.ui.card .content img, .ui.cards>.card .content img{
		width: 100%;
	}
	
	@media (max-width: 640px) {
		#header .menu .triangle {
			display: none;
		}

		#header .menu {
			width: 100%;
			background-color: #AD1F25;
			padding: 5px;
			height:auto;
		}

		#header .menu .buttons {
			position: relative;
			width:auto;
		}
			
	}