<ion-view hide-nav-bar="true">
    <ion-content has-header="false" padding="false">
        <div class="card">
            <button class="item item-icon-left positive" ng-click="newAd()">
                <i class="icon ion-image"></i>
                Añadir Banner publicitario
            </button>

            <div class="item">
                <p>Los banners deben ser de 1024 x 150px </p>
            </div>
        </div>


        <div class="card" ng-repeat="ad in ads">
            <div class="item item-divider">
              <label class="item item-input" ng-class="{ 'has-error' : ad.titulo.$invalid}">
                  <input ng-model="ad.titulo" type="text" autocapitalize="off" placeholder="Nombre Publicidad" required autocorrect="off">
              </label>
            </div>
            <div class="item item-divider">
              <label class="item item-input" ng-class="{ 'has-error' : ad.minutosVisible.$invalid}">
                  <input ng-model="ad.minutosVisible" type="number" autocapitalize="off" placeholder="Minutos Visible" required autocorrect="off">
              </label>
            </div>
            <div class="item item-text-wrap">
                <img ng-src="{{ ad.url }}" class="ad-image">
            </div>
            <button class="item item-icon assert button-full" ng-click="saveChangesAd(ad)">
                <i class="icon ion-upload"></i>
                Guardar Cambios
            </button>
            <button class="item item-icon assert button-full" ng-click="deleteAd(ad)">
                <i class="icon ion-trash-b"></i>
                Eliminar
            </button>

            <ion-toggle ng-model="ad.activo" ng-true-value="1" ng-false-value="0" toggle-class="toggle-positive" ng-change="toggleAd(ad)">Publicidad activada</ion-toggle>
        </div>

        <br>
        <br>


    </ion-content>
</ion-view>
