<ion-view>
    <ion-nav-title>
        <div class="h1 title">Ajustes</div>
    </ion-nav-title>
    <ion-content has-header="true" padding="true">
        <div class="card">
            <div class="item item-divider">
                Código para incrustar el player en la web
            </div>
            <div class="item item-text-wrap">
                &lt;iframe&gt;...&lt;/iframe&gt;
            </div>
        </div>

        <!--<div class="card">
            <div class="item item-divider">
                Minutos de emisión restantes
            </div>
            <div class="item item-text-wrap">
                <ion-spinner ng-hide="broadcast.getMinutesLeft()" icon="ripple"></ion-spinner>
                <span ng-show="broadcast.getMinutesLeft()" ng-class="{assertive: broadcast.getMinutesLeft()<0}">{{ broadcast.getMinutesLeft() }} minutos</span>
            </div>

        </div>-->

        <a class="button button-outline button-block button-positive" href="#" onclick="window.open('http://google.com/', '_system', 'location=yes'); return false;">Acceso a estadísticas</a>

        <!--<div class="card">
            <div class="item item-divider">
                Cambiar el logo del club
            </div>
            <div class="item item-text-wrap">
                <img src="img/logo-small.png">
            </div>
            <a class="item item-icon-left positive" href="#">
                <i class="icon ion-image"></i>
                Cambiar logo
            </a>
        </div>

        <div class="card">
            <div class="item item-divider">
                Cambiar imagen de cabecera
            </div>
            <div class="item item-text-wrap">
                <img src="img/logo.png">
            </div>
            <a class="item item-icon-left positive" href="#">
                <i class="icon ion-image"></i>
                Cambiar imagen de cabecera
            </a>
        </div>-->

    </ion-content>
</ion-view>