<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Banner publicitario</h1>
        <button class="button button-clear button-primary" ng-click="adModal.hide()">Cancelar</button>
    </ion-header-bar>
    <ion-content class="padding">
        <form name="adForm" novalidate="" ng-submit="submitAd(ad)">
            <div class="list">
                <label class="item item-input" ng-class="{ 'has-error' : ad.title.$invalid}">
                    <input ng-model="ad.title" type="text" autocapitalize="on" placeholder="Título" required autocorrect="off">
                </label>
                <label class="item item-input item-select" ng-class="{ 'has-error' : ad.file.$invalid}">
                    <input type="file" fileread="ad.file" required>
                </label>
                <label class="item item-input" ng-class="{ 'has-error' : ad.minutosVisible.$invalid}">
                    <input ng-model="ad.minutosVisible" type="number" autocapitalize="off" placeholder="Minutos Visible" required autocorrect="off">
                </label>
                <div class="item">
                    Añadir solo Imágenes png/jpg
                </div>
                <button class="button button-full button-positive" ng-disabled="adForm.$invalid">Añadir</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
