<ion-view title="Principal">
    <ion-content scroll="false">
      <div class="row ng-cloak ng-hide" ng-show="broadcast.onAir()">
            <h2>{{ broadcast.getPeriod() }}</h2>
           <h2 class="center"><timer interval="1000"> {{ counter }} </timer></h2>
      </div>
        <div class="row">
            <div class="col">
              <div class="scoreboard ng-cloak ng-hide" ng-show="broadcast.onAir()">
                <h2 class="center">Marcador</h2>
                  <div class="col">
                      <div class="row center">
                          <div class="col">
                              <div class="row row-center">
                                  <div class="col">
                                      {{ broadcast.getLocalScore() }}
                                  </div>
                              </div>
                              <div class="row row-center">
                                  <div class="col">
                                    {{ broadcast.getLocalTeam() }}
                                  </div>
                              </div>
                          </div>
                          <div class="col">
                              <div class="row row-center">
                                  <div class="col">
                                      {{ broadcast.getVisitorScore() }}
                                  </div>
                              </div>
                              <div class="row row-center">
                                  <div class="col">
                                    {{ broadcast.getVisitorTeam() }}
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
                <div class="row">
                    <div class="col text-center">
                        <button class="button button-outline button-positive button-full icon-left ion-videocamera" ng-click="startBroadcast()" ng-hide="broadcast.onAir()"> Comenzar Retransmisión</button>
                        <button class="ng-cloak ng-hide button button-outline button-full icon button-energized ion-stop" ng-click="endTimeBroadcast();stopTimer()" ng-show="broadcast.onAir() && !broadcast.isPaused()"> Terminar Periodo</button>
                        <button class="ng-cloak ng-hide button button-outline button-full icon button-energized ion-record" ng-click="startTimeBroadcast();startTimer()" ng-show="broadcast.onAir() && broadcast.isPaused()"> Comenzar Periodo</button>
                        <button class="ng-cloak ng-hide button button-outline button-full icon button-energized ios-clock-outline" ng-click="openTimePicker();" ng-show="broadcast.onAir() && !broadcast.isPaused()">Sincronizar Tiempo</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col ng-cloak ng-hide" ng-show="broadcast.onAir() && broadcast.isPaused()">
                        <button class="button button-outline button-full icon button-assertive ion-stop" ng-click="finishBroadcast()"> Finalizar Retransmisión</button>
                    </div>
                </div>
                <div class="row">
                  <button ng-click="showEventos()" class="button button-outline button-full icon button-dark" ng-show="broadcast.onAir() && !broadcast.isPaused()">Evento</button>
                </div>
                <div class="row center">
                  <a href="#/config/ads" class="button a-button-full button-outline button-full icon button-dark ion-gear-a"> Publicidad</a>
                </div>
                <div class="row">
                  <button ng-click="logout()" class="button button-outline button-full icon button-dark ion-power"> Desconectar</button>
                </div>

                <div class="row">
                    <div class="col">
                    </div>
                </div>

            </div>

        </div>
    </ion-content>
</ion-view>
