<ion-modal-view>
  <ion-header-bar class="ionic_timepicker_popup bar bar-header bar-positive">
		<h1 class="title">Syncroniza el tiempo de Partido</h1>
		<button class="ionic_timepicker_popup button button-clear button-primary" ng-click="relojModal.hide()">Cancelar</button>
	</ion-header-bar>
  <ion-content>
<div class="ionic_timepicker_popup">
  <div class="ionic_timepicker_popup heading">{{ counter }} </div>
    <div class="center">
      <div class="ionic_timepicker_popup row">
        <div class="ionic_timepicker_popup col col-40" >
          <button type="button" class="ionic_timepicker_popup button button-clear button-small button-dark time_picker_arrows"
                  ng-click="increaseMinutes()">
            <i class="ionic_timepicker_popup icon ion-chevron-up"></i></button>
          <div ng-bind="syncTime.minutes" class="ionic_timepicker_popup time_picker_box_text"></div>
          <button type="button" class="ionic_timepicker_popup button button-clear button-small button-dark time_picker_arrows"
                  ng-click="decreaseMinutes()">
            <i class="icon ion-chevron-down"></i></button>
        </div>
        <label class="ionic_timepicker_popup col col-10 time_picker_colon"> : </label>

        <div class="ionic_timepicker_popup col col-40" ng-class="{'col-25':time.format == 24}">
          <button type="button" class="ionic_timepicker_popup button button-clear button-small button-dark time_picker_arrows"
                  ng-click="increaseSeconds()"><i class="icon ion-chevron-up"></i></button>
          <div ng-bind="syncTime.seg" class="ionic_timepicker_popup time_picker_box_text"></div>
          <button type="button" class="ionic_timepicker_popup button button-clear button-small button-dark time_picker_arrows"
                  ng-click="decreaseSeconds()"><i class="icon ion-chevron-down"></i></button>
        </div>
      </div>
      <div class="row">
        <button ng-click="relojModalGuardarCambios()" class="button button-outline button-full icon button-dark" >Guardar Cambios</button>
      </div>
  </div>
</div>
</ion-content>
</ion-modal-view>
