<ion-view>
    <ion-nav-title>
        <div class="h1 title">Publicidad</div>
    </ion-nav-title>
    <ion-content has-header="true" padding="true">
        <div class="list">
            <!--<ion-toggle toggle-class="toggle-positive">Rotación en bucle</ion-toggle>

            <div class="item item-input item-select">
                <div class="input-label">
                    Patrocinio del partido
                </div>
                <select>
                    <option>1</option>
                    <option selected>2</option>
                    <option>3</option>
                </select>
            </div>

            <div class="item item-input item-select">
                <div class="input-label">
                    Patrocinio de jugadas
                </div>
                <select>
                    <option>1</option>
                    <option selected>2</option>
                    <option>3</option>
                </select>
            </div>-->
        </div>
        <div class="card">
            <button class="item item-icon-left positive" ng-click="newAd()">
                <i class="icon ion-image"></i>
                Añadir Banner publicitario
            </button>

            <div class="item">
                <p>Los banners deben ser de 1024 x 150px </p>
            </div>
        </div>


        <div class="card" ng-repeat="ad in ads">
            <div class="item item-divider">
                {{ ad.titulo }}
            </div>
            <div class="item item-text-wrap">
                <img ng-src="{{ ad.url }}" class="ad-image">
            </div>
            <button class="item item-icon-left assert" ng-click="deleteAd(ad)">
                <i class="icon ion-trash-b"></i>
                Eliminar
            </button>
            <ion-toggle ng-model="ad.activo" ng-true-value="1" ng-false-value="0" toggle-class="toggle-positive" ng-change="toggleAd(ad)">Publicidad activada</ion-toggle>
        </div>

        <br>
        <br>


    </ion-content>
</ion-view>