body {
    background: #999 url(http://raphaeljs.com/images/bgbg.png);
    font: 100.01% "Fontin Sans", Fontin-Sans, "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Lucida, Verdana, Helvetica, sans-serif;
    color: #000;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
}
#holder {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0 1px 3px #666;
    background: #ddd url(http://raphaeljs.com/images/bg.png);
    margin: 0 auto;
    width: 640px;
    height: 480px;
}
p {
    text-align: left;
    margin: .5em 2em;
}