*{
	font-family:sans-serif;
}

#subtitulo{
	margin: 3px auto !important;
}


#header{
	color:#AD1F25; 
	background:#AD1F25; 
	height:50px;
}

#header_flecha{
	width: 16px;  
	margin: -3px !important; 
	padding-right: 4px;
}

#wrap {
	width:700px;
	padding:2em 2em 2em 172px;
	margin:0 auto;
}
    
#cont_esperando_estadisticas{}	
	
#img_esperar{}	

#img_esperar img{
	padding-top: 200px;
}


#menu {
	width:150px;
	position:fixed;
	top:2em;
	margin-left:-172px;
}

pre {
	background:#eee;
	width:auto;
	padding:1em;
	overflow:hidden;
}

.example {
	width:100%;
}

.sparkexample {
	height:17px;
	display:inline-block;
	width:150px
}

table,
table tr,
table tr td{
 font-family: sans-serif;
}

	
table#lugarAcceso tr td, 
table#lugarAcceso tr th {
	border-bottom: 1px solid #ccc;
    padding: 3px;
    font-family: sans-serif;
    color: #666;
}

table#lugarAcceso {
    margin: 20px auto;
    width: 95%;
}

table#lugarAcceso th {
    text-align: left;
}

table#lugarAcceso td {
    text-align: right;
}

				
td#espectadores {
	border-left: 4px solid #c1d5a1;
	padding: 10px;
	width: 33%;
}
	
td#mediaVisualizacion {
	border-left: 4px solid #88a1a3;
	padding: 10px;
	width: 33%;
}	
	
td#viewersHours {
	border-left: 4px solid #c1d5a1;
	padding: 10px;
	width: 33%;
}

.spanParte_02{
	font-size: 50px;
	width: 100%;
	float: left;
}

#part02 {
	clear: both;
    width: 97% !important;
    min-height: 0px;
	margin-left: 40px;
}

#part02 table{
	width: 100%;  
	font-family: sans-serif;
}

#TicketByDepartment{
	visibility: hidden;  
	font-family: sans-serif;
}


ul#TicketByDepartmentLegends {
    padding-top: 50px !important;
    padding-left: 50px !important;
}

#DonutTicketsByDepartment {
   padding-right: 180 !important;
}

#volver{
    float: left;
    padding-left: 27px;
    color: #fff;
    padding-top: 5px;
	text-decoration: none;
	margin-top: 10px;
    margin-right: 10px;
	font-weight: normal;
    font-family: sans-serif;
	font-size: 18px;
}
	
#volver:hover {
   text-decoration: underline;
}

#cont_grafica{
	clear:both;
	width: 97% !important;
}

#sinDatosSMS {
    text-align: center;
    margin-top: 100px;
    font-family: "Titillium Web",sans-serif;
    font-size: 24px;
    color: #ad1f25;
    font-weight: bold;
    line-height: 32px;
}