 #wrap {
      width:700px;
      padding:2em 2em 2em 172px;
      margin:0 auto;
    }
    #menu {
      width:150px;
      position:fixed;
      top:2em;
      margin-left:-172px;
    }
    h2 {display:block;background:#ccc;padding:0.5em}
    h3 {display:block;background:#eee;padding:0.5em}
    h3+*{clear:left;}

    pre {background:#eee;width:auto;padding:1em;overflow:hidden}
    .example {
      width:500px;
      height:170px;
    }
   .sparkexample {
      height:17px;
      display:inline-block;
      width:150px
    }