body{}
*{
font-family: 'Titillium Web', sans-serif;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
 /* font-weight: 800;*/
  font-size: 30px;
  margin: 15px auto;
  width: 96%;
  color: #666;
  overflow: hidden;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
  /*font-weight: 600;*/
  font-size: 22px;
  padding-bottom: 3px;
  margin: 15px auto;
  width: 96%;
  color: #666;
  overflow: hidden;
  font-weight: bold;
}

div#cabecera {
    border-bottom: 2px solid #ccc;
}

.span_txt{
	color: #ccc;
}

.span_num{
	color: #666;
}
.author {
  font-size: 16px; 
  line-height : 22px;
  color: #fcaf17;
}

.chart {
  border-radius: 10px;
  padding: 0 15px;
  position:relative; 
  min-height: 200px;
  margin: 15px auto;
  width: 48%; /*mod mrs*/
  box-sizing: border-box;
  background-color: #fff;
  overflow: hidden;
  float:left; /*add mrs*/
  margin-left: 20px; /*add mrs*/
}

@media only screen and (min-width:601px) {
  #DonutTicketsByDepartment { 
    width: 200px;  
    float: right; 
  }

  #TicketByDepartmentLegends { 
    display:block; 
    margin-right: 250px;
    list-style-type: none;
  }
  
  .title { display: block; margin-right: 150px; }
  .author { float:right; width: 150px; }
  .lt { display: none; }
  
}

@media only screen and (max-width:600px) {
  
  .chart { text-align: center; }
  
  #DonutTicketsByDepartment { 
    width: 200px;
    margin: 0 auto;
    float: none;
  }

  #TicketByDepartmentLegends {
    list-style-type: none;
    padding-top: 0px !important;
    margin : 0 auto;
    display: inline-block;
    text-align: left;
  }
  
  .title,
  .author { display: block; text-align:center; }
  .author { margin-top: 5px; }
  .lt { display: block; }
  .rt { display: none; }
  
}

#TicketByDepartmentLegends li { 
  margin-bottom: 10px; 
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  color:#000; 
}

#TicketByDepartmentLegends li span.icon { 
  width: 22px; 
  height: 22px; 
  float: left;
}

#TicketByDepartmentLegends li span.label {
  display: block;
  margin-left: 30px;
  font-size: 15px;
  line-height: 22px;
}

ul#TicketByDepartmentLegends {
    padding-top: 50px;
}